if page.title
  - var current_title = page.title
else
  - var current_title = config.title

if (config.root != '/')
  - var root = config.root
else
  - var root = ''

if config.feed
  case config.feed.type
    when "rss2"
      - var feed_type='application/rss+xml'
    when "atom"
    default
      - var feed_type='application/atom+xml'

include _partial/helpers

doctype html
html
  head
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name="viewport")
    meta(content="yes", name="apple-mobile-web-app-capable")
    meta(content="black-translucent", name="apple-mobile-web-app-status-bar-style")
    meta(content="telephone=no", name="format-detection")
    meta(name='description', content= config.description)
    meta(name='author', content= config.author)
    meta(name='keywords', content= config.keywords)

    meta(property='og:title', content= (config.title ? (config.subtitle ? config.title + " | " + config.subtitle : config.title) : ""))
    meta(property='og:url', content= url)
    if is_post()
      meta(property='og:type', content='article')
      meta(property='og:image', content= config.url + '/' + page.path + 'post.png')
      meta(itemprop='image', content= config.url + '/' + page.path + 'post.png')
      meta(name='twitter:image', content= config.url + '/' + page.path + 'post.png')

    if !is_post()
      meta(property='og:type', content='website')
      meta(property='og:image', content= config.url + '/images/kralik.io.png')
      meta(itemprop='image', content= config.url + '/images/kralik.io.png')
      meta(name='twitter:image', content= config.url + '/images/kralik.io.png')

    meta(property='og:site_name', content= config.title)
    meta(property='fb:app_id', content='519538264873932')
    meta(property='og:description', content= config.description)
    meta(property='og:locality', content='Bratislava')
    meta(property='og:country-name', content='Slovakia')
    meta(property='og:email', content='hello@kralik.io')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@gergelykralik')
    meta(name='twitter:creator', content='@gergelykralik')
    meta(name='twitter:title', content= (config.title ? (config.subtitle ? config.title + " | " + config.subtitle : config.title) : ""))
    meta(name='twitter:description', content= config.description)

    if is_post() && config.generator_amp
      link(rel="amphtml", href='./amp/index.html')

    block title

    link(rel='stylesheet', type='text/css', href=root + '/css/scripts.css')
    link(rel='stylesheet', type='text/css', href=root + '/css/site.css')

    if config.feed
      link(rel='alternate', type=feed_type, href=url_for(config.feed.path))

    link(rel="apple-touch-icon", sizes="57x57", href="/icon/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/icon/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/icon/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/icon/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/icon/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/icon/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/icon/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/icon/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/icon/apple-icon-180x180.png")
    link(rel="icon", type="image/png" sizes="192x192",  href="/icon/android-icon-192x192.png")
    link(rel="icon", type="image/png" sizes="32x32", href="/icon/favicon-32x32.png")
    link(rel="icon", type="image/png" sizes="96x96", href="/icon/favicon-96x96.png")
    link(rel="icon", type="image/png" sizes="16x16", href="/icon/favicon-16x16.png")
    link(rel="manifest", href="/icon/manifest.json")

    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/icon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

  body(itemscope, itemtype='https://schema.org/WebPage')

    header: .container.header
      a#logo.title(href=url_for('.'))= config.title
      span.subtitle= config.subtitle
      label#toggle-menu(for="menu", onclick)
        i.fa.fa-bars

    input#menu(type="checkbox")

    nav#nav
      .container
        each nav, name in theme.menu
          +a_with_current(nav, __(name))

    #header-margin-bar

    block main

    footer#footer
      .container
        .bar
          .pubkey
            span.centered= theme.pubkey
        .bar
          .social
            +social_icon('email', "mailto:", "fa-envelope-o")
            +social_icon('github', 'https://github.com/', 'fa-github')
            +social_icon('linkedin', 'https://linkedin.com/in/', 'fa-linkedin')
            +social_icon('facebook', 'https://facebook.com/', 'fa-facebook')
            +social_icon('twitter', 'http://twitter.com/', 'fa-twitter')
            +social_icon('googleplus', 'https://plus.google.com/', 'fa-google-plus')
            +social_icon('rss', "", "fa-rss")

          .footer
            - var year = date(new Date(), 'YYYY');
            = '© 2016 - ' + year + ' '
            a(href='/', rel='nofollow')= config.author
            = '. Powered by '
            a(rel='nofollow', target='_blank', href='https://hexo.io') Hexo
            |.

    include _partial/scripts
